<main style="">
    <section>
      <div class="container my-5">
        <div class="row align-items-center">
          <div class="col-md-6">
            <h1 class="display-4 fw-bold text-primary">Bienvenido a tu tienda favorita</h1>
            <p class="lead mb-4">Descubre los mejores productos al mejor precio. ¡Empieza ahora y aprovecha nuestras ofertas exclusivas!</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
              <a routerLink="/products"type="button" class="btn btn-outline-primary btn-lg px-4">Get Started</a>
            </div>
          </div>
          <div class="col-md-6 text-center">
            <img src="assets/images/auto-shop.jpg" class="img-fluid border rounded-3 shadow-lg" alt="Example image" width="700" height="500" loading="lazy">
          </div>
        </div>
      </div>
    </section>
    
   
    </main>
