<nav class="navbar navbar-expand-lg navbar-light bg-dark">
<a routerLink="/" class="navbar-brand text-white mx-2 fw-5 hover"><i class="fas fa-car text-warning"></i> Carros & PiezasRD
</a>

<div class="collapse navbar-collapse">
    <ul class="navbar-nav ms-5  pr-5">
        <li class="nav-item" >
             <a  class="nav-link text-white hover" routerLink="/">Home</a>
            </li>
        <li class="nav-item" >
            <a  class="nav-link text-white hover" routerLink="/products">Productos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white hover" routerLink="/cart" >Carrito</a>
    </ul>
</div>

</nav>