<footer class="d-flex flex-column float-bottom bg-secondary p-2 ">
<div class="row fs-6">
    <div class="col-12">
        <p class="text-white">&copy; Adrian Julio Mateo Batista</p>
    </div>
        <div class="col-12">
            
            <p>Siguenos</p>
<div class="gap-1">
            <a href="" class=""><i class="fa-brands fa-instagram"></i> </a>
            <a href="" class=""><i class="fa-brands fa-twitter"></i> </a>
            <a href="" class=""><i class="fa-brands fa-facebook-f"></i> </a>
</div>
       </div>

       <div class="col-12">
        <p>Formulario de Contacto</p>
    </div>

</div>
</footer>   